
 body{
	background-color: #1c1e21;
	color: #C0C0C0;
	margin: 0;
 }



ol{
	margin: 0;
	padding: 0;
	list-style: none;
}

figure{
	margin: 0;
	transition: width 2s, height 2s, transform 2s;
}

figure:hover{
	transform : scale(1.5);
}

.principal{
	height: 300px;
	/*background-color: #0a0a0a; */
	background-image: url('https://cdn.wallpapersafari.com/15/25/rMo86Y.jpg');
	background-size: 1350px 300px; 
	background-repeat: no-repeat;
	background-position-x: right;
	margin: 5px 0 5px 0;
	display: flex;
	text-shadow: 1px 2px 2px #000;
	filter: opacity(80%) blur(1px);
}

.principal h1 strong{
	color:  blue;
}

.principal h1{
	font-size: 3.5em;
}

h2{
	margin-top: 20px;
}

section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: : 100px;
}

h5,h3, h2{
	text-align: center;
}


section article{
	max-width: 500px;
	height: 500px;
	border-color: #56070C;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	margin: 10px 0 10px 0;
	background-color: #0a0a0a;
	flex-shrink: 0;
}

.detalles{
	max-width: 500px;
	display: block;
}

article figure{
	width: 500px;
}

.header{
	background-color: #252525;
	display: flex;
	justify-content: space-between;
	height: 60px;
}

.header ol{
	display: flex;
	height: inherit;
}

.header a{
	color: #C0C0C0;
	text-decoration: none; 
	height: inherit;
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.info{
	margin: 0;
}

.info h3{
	height: 300px;
	background-image: url('https://cdn.wallpapersafari.com/15/25/rMo86Y.jpg');
	background-size: 1350px 300px; 
	background-repeat: no-repeat;
	background-position-x: right;
	margin: 5px 0 5px 0;
	padding: 50px;
	display: flex;
}

.contacto{
	height: 80px;
	background-image: url('https://i.pinimg.com/originals/fe/d3/d6/fed3d6467231c334788f43202c0fb9c6.jpg');
	background-size: 1350px 300px; 
	background-repeat: no-repeat;
	background-position-x: right;
	margin: 5px 0 5px 0;
	padding: 50px;
	display: flex;
}

footer{
	text-align: right;
}

.burguerMenu{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0,0,0,.8);
	display: none;
	line-height: 40px;
	text-align: center;
	position: fixed;
	z-index: 4;
	left: 5px;
	top: 5px;
}

