@media screen and (max-width: 767px){
	.header{
		display: block;
		height: auto;
	}

	.header ol{
		display: initial;
	}

	.header ol li{
		height: 50px;
	}

	.header a{
		justify-content: center;
		height: 40px;
		font-size: 2em;
		text-decoration: underline;
		margin-bottom: .5em;
	}

	.header .logo{
		text-align: center;
	}

	article figure, article figure img{
	width: 100%;
	}

	section article{
		max-width: 100%;
		max-height: 100%;
	}

	.info{
		height: auto;
	}

	.info h3{
		font-size: 100%
	}

	.contacto{
		height: auto;
		text-align: center;
		display: block;
	}

	footer{
		text-align: center;
	}

	figure{
		transition: none;
	}

	figure:hover{
	transform : none;
	}

	.principal{
		height: auto;
	}

	.principal h1{
		font-size: 2em;
	}

	.recientes h1{
		text-align: center;
		font-size: 2em;
	}

	.burguerMenu{
		display: block;
	}

	.menu{
		position: fixed;
        background-color: rgba(27, 33, 39,.9);
        z-index: 3;
        top: 0;
        left:-100vw; /* Para que el menu se oculte a la izquierda y se cree el efecto al hacer click*/
        width: 100vw;
        bottom: 0;/* height: 100vw; */ /*A partir de aqui para centrar*/
        display: flex;
        align-items: center;
        justify-content: center; /* centrar hasta aqui */
        transition: .3s;
	}

	.menu.is-active {
        left: 0;
    }
}